<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        h1 {text-align: center;
        font-weight: bold;}
        h2   {text-align: left;}
    
        </style>
</head>
<body>
    
   <h1>Dear {{firstName}}, there have been changes to the following event.</h1>
   <h2>Kindly find the updated details below!</h2>
   <h3>Event: {{eventName}}</h3>
   <h3>Event Date: {{ date.strftime('%d-%b-%Y') }}</h3>
   <h3>We sincerely apologise for any inconviniences</h3>

   
</body>
</html>
