<!--Like inheritance,we'll use everything from the parent html file i.e. layout.html-->
<!-- reduces code duplication-->
{% extends "layout.html" %}

<!--block name is content-->
{% block content %}


<article class="media content-section">
  <img class="rounded-circle article-img"
    src="{{ url_for('static', filename = 'profilePics/' + event.author.profilePicture) }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{{ url_for('users.viewUser', user_id=event.author.id) }}">{{ event.author.firstName }}&nbsp;{{ event.author.surName }} </a>
      <p class="float-right font-weight-bold">On {{ event.date.strftime('%d-%B-%y') }}</p>

      {% if event.author == current_user %}
      <div>
        <a href="{{ url_for('events.editEvent', event_id=event.id) }}" class="btn btn-secondary btn-sm mt-1 mb-1">Edit</a>
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
          data-target="#deleteModal">Delete</button>
      </div>

      {% elif attending %}
      <div>
        <button type="button" class="btn btn-info btn-sm m-1" disabled >Attending</button>
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
          data-target="#cancelModal">Cancel booking</button>
      </div>

      {% else %}
      <div>
        <button type="button" class="btn btn-info btn-sm m-1" data-toggle="modal"
          data-target="#attendModal">Attend</button>
      </div>

      {% endif %}

    </div>

    <h2 class="article-title text-center">{{ event.title }}</h2>
    <p class="article-content">{{ event.content }}</p>
    
    {% if event.image %}
    <div class="div" style="text-align:center;">
      <img style="width:100%; height: 100%;" src="{{ url_for('static', filename = 'eventPics/' + event.image) }}">
    </div>
    {% endif %}

    {% if event.author == current_user %}
    <legend class="border-bottom mb-4">Atendees</legend>


      {% for attendee in event.atendees %}
        <article class="media content-section">
          <div class="media-body">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename = 'profilePics/' + attendee.profilePicture) }}">
            
            <a class="mr-2" href="{{ url_for('users.viewUser', user_id  =attendee.id) }}">{{ attendee.firstName }}&nbsp;{{ attendee.surName }} </a>
            <small class="text-muted float-right">{{ attendee.studentNumber }}</small>
           
            
          </div>
        </article>
      {% endfor %}

    {% endif %}

  </div>

</article>

<!-- Delete event Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Event?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this event?</p>
        <p style="color:red;">This cannot be undone</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>

        <form action="{{ url_for('events.deleteEvent', event_id= event.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Yes">
        </form>

      </div>
    </div>
  </div>
</div>

<!-- Attendance confirmation Modal -->
<div class="modal fade" id="attendModal" tabindex="-1" role="dialog" aria-labelledby="attendModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="attendModalLabel">Attend Event?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to attend this event?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>

        <form action="{{ url_for('events.attendEvent', event_id= event.id) }}" method="POST">
          <input class="btn btn-success" type="submit" value="Yes">
        </form>

      </div>
    </div>
  </div>
</div>


<!-- Cancel booking Modal -->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cancelModalLabel">Cancel Booking?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to cancel your booking?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>

        <form action="{{ url_for('events.removeAttendee', event_id= event.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Yes">
        </form>

      </div>
    </div>
  </div>
</div>


{% endblock content %}